*.[oa]
.svn
Makefile
config.log
config.status
egal/.deps/
egal/Makefile
egal/font/.deps/
egal/font/Makefile
egal/pixbuf-io/.deps/
egal/pixbuf-io/Makefile
egal/x11/.deps/
egal/x11/Makefile
egconfig.h
egui/.deps/
egui/Makefile
elib/.deps/
elib/Makefile
libtool
stamp-h1
